<div>
    <h2>Thank you {{name}} for registering with the following details : </h2>
    <p>Your Date : {{date}}</p>
    <p>Vegetarian : {{vegetarian}}</p>
    <p>Your Hobbies : {{hobbies}}</p>
    <p>Your Language : {{language}}</p>
    <p>Your Comments: {{comments}}</p>
</div>